body{
background-image: url("img2/bg.png");
}
.center{
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    text-align: center;
}
thead td{
    font-size: 30px;
    color: orange;
    width: 100%;
}
tbody label{
    font-size: 20px;
}
tbody input{
    border: 1px dotted gray;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    outline: none;
}
tfoot button{
    border: 1px solid crimson;
    border-radius: 20px;
    width:100%;
    height: 40px;
    background-color: crimson;
    color: white;
    font-size: 20px;
}
tr{
    line-height: 60px;
}
.footer{
    width: 42%;
    margin: auto;
    font-size: 15px;
    color: gray;
}
a{
    text-decoration: none;
    color: blue;
}
